<section class="container">
  <div class=row>

      <div class="col-10 d-flex justify-content-center align-items-center">
        <app-question-container [question]="selectedQuestions[activeQuestionIndex]" 
        [gameOverState]="gameOverState"
        ></app-question-container>

      </div>
      
      <div class="col-2">
        <app-question-list  [activeQuestionIndex]="activeQuestionIndex" [selectedQuestions]="selectedQuestions"></app-question-list>
      </div>
    </div>
</section>


<!-- <ng-container *ngFor="let question of questions; let index as i">
{{question.question}}
<br>
 {{question[i].content}} 
</ng-container> -->
 
<router-outlet></router-outlet>
